@use 'app' as *;
@use 'urltomp3';

.all{

    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

    input[type="text"]{
        @extend %text-input-file;
        max-width: 600px;

        &::placeholder{
            text-align: center;
        }
    }

    .top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 14px;

        p{
            margin-right: 95px;
            font-weight: bold;
        }

        .sort-section{
            display: flex;
            align-items: center;
            gap: 5px;

            select, button {
                padding: 2px;
                border-radius: 5px;
                border: 1px solid $font-color;
                cursor: pointer;
            }
        }
    }

    table{
        margin: 0;
        margin-top: 5px;
        width: 100%;
        border-collapse: collapse;

        th, td {
            padding: 12px;
            border-bottom: 1px solid $font-color;
            font-size: 14px;
            text-transform: lowercase;

            a{
                text-decoration: none;
                color: $font-color;
                transition: color 0.2 ease, text-decoration 0.2s ease;

                &:hover{
                    color: $font-hover-color;
                    text-decoration: underline;
                }
            }
        }

        th{
            background-color: rgb(170, 115, 221);
            text-transform: uppercase;
        }

        tr:hover {
            background-color: rgb(196, 172, 218);
        }
    }
}

.pagination{
    display:flex;
    list-style: none;
    gap: 10px;
    justify-content: center;
    padding: 16px;

    li{
        border-radius: 5px;
        border: 1px solid $font-color;

        a{
            display: inline-block;
            padding: 12px;
            text-decoration: none;
            cursor: pointer;
        }

        &.active{
            background-color: rgb(196, 172, 218);
        }
        &:hover{
            background-color: $font-hover-color;
        }
    }
}